$black: #000;
$white: #FFF;
$pink: #F72585;
$purple: #7209B7;
$blue: #4CC9F0;
$grey: #CCC5B9;

$base: 8px;

@mixin bg {
    position: absolute;
    top: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: $base*2;
}

h1 {
    font-size: $base*8;
    font-weight: bold;
}

h2 {
    font-size: $base*3;
    font-weight: bold;
}

mark {
    color: $white;
    background-color: $pink;
    font-weight: bold;
}

a, a:hover {
    color: $pink !important;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none; /* Remove default bullets */
}

.menu {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: $base*8;
    left: $base*14;
    width: $base*7;
    height: $base*4;

    div {
        position: relative;
        width: 100%;
        height: 1px;
        background-color: $white;
    }
}

.hero {
    padding-top: $base*16;
    position: relative;
    color: $white;
}

.hero-content {
    margin-right: 0 !important;
}

.hero-img-wrapper {
    margin-left: $base*8 !important;
    position: relative;
}

.hero-img {
    max-width: $base*32;
}

.hero-img-border {
    border: 1px solid $white;
    position: absolute;
    top: $base*3;
    left: $base*3;
    height: 100%;
    width: 100%;
    z-index: -997;
}

.bg-purple {
    @include bg;
    width: 70.5%;
    height: 130%;
    z-index: -998;
    background-color: $purple;
}

.bg-blue {
    @include bg;
    right: 0;
    width: 100%;
    height: 120%;
    z-index: -999;
    background-color: $blue;
}

.about {
    margin-top: $base*32;

    h1 {
        color: $purple;
        text-align: center;

        span {
            text-decoration: underline;
        }
    }

    .button {
        width: fit-content;
        background-color: transparent;
        color: $pink;
        margin-top: $base*6 !important;

        a {
            padding: $base*2;
            border: 1px solid $pink;
        }
    }
}

.skills {    
    ul li::before {
        content: "\2606";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $pink; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1.15em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
}

.experiences {
    li {
        cursor: pointer;
        padding: $base 0 $base $base*2;
        border-left: 1px solid $grey;
        color: $grey;
    }

    .active {
        border-left: 1px solid $pink;
        color: $pink;
    }

    .exp {
        margin-left: $base*3;

        h2 {
            margin-bottom: 0;
        }

        .exp-time {
            color: $grey;
        }
    }
}

.projects {
    background-color: $grey;
    margin-top: $base*8;
    padding-bottom: $base*8;

    h1 {
        padding-top: $base*8;
        margin-bottom: 0;
        color: $white;

        span {
            text-decoration: underline;
        }
    }

    p {
        color: $purple;
    }

    .button {
        width: fit-content;
        background-color: transparent;
        color: $white;
        margin-top: $base*6 !important;

        a {
            padding: $base*2;
            border: 1px solid $white;
            color: $white !important;
        }
    }

    .project-wrapper {
        margin: $base*8 0 $base*8 0;
    }

    .project {
        background-color: $white;
        border: 1px solid $black;
        padding: $base*3;
        text-align: initial;
        position: relative;
        margin: auto;
        max-width: $base*53;

        h2 {
            color: $pink;

            i {
                position: absolute;
                right: $base*3;
            }
        }

        p {
            color: $black;
        }

        img {
            max-width: $base*48;
        }

        .techs {
            color: $purple;
            text-align: right;
        }
    }

}

.contact {
    margin-top: $base*16;

    h1 {
        color: $purple;

        span {
            text-decoration: underline;
        }
    }

    .button {
        width: fit-content;
        background-color: transparent;
        color: $pink;
        margin-top: $base*6 !important;

        a {
            padding: $base*2;
            border: 1px solid $pink;
        }
    }
}

footer {
    margin-top: $base*11;
    border-top: 1px solid $blue;
    color: $blue;

    .d-flex {
        padding: $base*4 0 $base*2 0;
    }

    .socials {
        font-size: $base*3;

        a {
            color: $blue !important;
            margin-right: $base;
        }
    }

    .quotes {
        position: absolute;
        right: $base*20;
        color: $grey !important;
        padding: $base*4 0 $base*8 0;
    }
}
