@charset "UTF-8";
@media screen and (min-width: 768px) {
  .experiences {
    width: 640px !important;
  }
}
@media screen and (min-width: 1920px) {
  .bg-purple {
    width: 65.5% !important;
  }
}
@media screen and (min-width: 2000px) {
  .bg-purple {
    width: 70.5% !important;
  }
}
body {
  font-family: "Open Sans", "Ubuntu", -apple-system, system-ui, sans-serif;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

mark {
  color: #FFF;
  background-color: #F72585;
  font-weight: bold;
}

a, a:hover {
  color: #F72585 !important;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline !important;
}

ul {
  list-style: none; /* Remove default bullets */
}

.nav {
  font-weight: 300 !important;
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 64px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #000;
}
.nav button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  width: fit-content;
  position: relative;
  left: -8px;
  top: -32px;
  height: 48px;
  width: 48px;
  margin-bottom: 8px;
}
.nav button:after {
  content: "";
  height: 48px;
  border-left: 2px solid #FFF;
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}
.nav button:before {
  content: "";
  height: 48px;
  border-left: 2px solid #FFF;
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}
.nav h2 {
  font-weight: 300 !important;
  color: #FFF;
}
.nav ul {
  padding-left: 0;
}
.nav .nav-menu li {
  margin-bottom: 8px;
}
.nav .nav-menu li a {
  padding: 8px;
}
.nav .nav-socials li {
  display: inline-block;
  margin: 8px;
}
.nav .nav-socials li a {
  padding: 8px;
}

.bg-purple {
  position: absolute;
  top: 0;
  width: 70.5%;
  height: 130%;
  z-index: -998;
  background-color: #7209B7;
}

.bg-blue {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 120%;
  z-index: -999;
  background-color: #4CC9F0;
}

.menu {
  z-index: 999;
  background-color: transparent;
  border-color: transparent;
  position: fixed;
  top: 64px;
  left: 112px;
  width: 56px;
  height: 32px;
}
.menu div {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #FFF;
}

.menu.scrolled div {
  background-color: #000 !important;
}

.hero {
  padding-top: 128px;
  position: relative;
  color: #FFF;
}
.hero .hero-content {
  margin-right: 0 !important;
}
.hero .hero-img-wrapper {
  margin-left: 64px !important;
  position: relative;
}
.hero .hero-img {
  max-width: 256px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
}
.hero .hero-img-border {
  border: 1px solid #FFF;
  position: absolute;
  top: 24px;
  left: 24px;
  height: 100%;
  width: 100%;
  z-index: -997;
}

.about {
  margin-top: 256px;
}
.about .m-auto {
  margin-top: 0 !important;
}
.about h1 {
  color: #7209B7;
  text-align: center;
}
.about h1 span {
  text-decoration: underline;
}
.about .button {
  width: fit-content;
  background-color: transparent;
  color: #F72585;
  margin-top: 48px !important;
}
.about .button a {
  padding: 16px;
  border: 1px solid #F72585;
}
.about .button:hover {
  background-color: #F72585;
  color: #FFF !important;
}
.about .button:hover a:hover {
  background-color: #F72585 !important;
  color: #FFF !important;
}

.skills ul li::before {
  content: "☆"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #F72585; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.15em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.experiences button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border-left: 1px solid #CCC5B9;
  color: #CCC5B9;
}
.experiences .active {
  border-left: 1px solid #F72585;
  color: #F72585;
}
.experiences li.active {
  background-color: rgba(204, 197, 185, 0.1);
}
.experiences button:focus {
  border-left: 1px solid #F72585;
  color: #F72585;
}
.experiences .exp {
  margin-left: 24px;
}
.experiences .exp h2 {
  margin-bottom: 0;
}
.experiences .exp .exp-time {
  color: #CCC5B9;
}

.projects {
  background-color: #CCC5B9;
  margin-top: 64px;
  padding-bottom: 64px;
}
.projects h1 {
  padding-top: 64px;
  margin-bottom: 0;
  color: #FFF;
}
.projects h1 span {
  text-decoration: underline;
}
.projects p {
  color: #7209B7;
}
.projects .button {
  width: fit-content;
  background-color: transparent;
  color: #FFF;
  margin-top: 48px !important;
}
.projects .button a {
  padding: 16px;
  border: 1px solid #FFF;
  color: #FFF !important;
}
.projects .button:hover {
  background-color: #4CC9F0;
  color: #FFF !important;
}
.projects .button:hover a:hover {
  background-color: #4CC9F0 !important;
  color: #FFF !important;
  border-color: #4CC9F0 !important;
}
.projects .project-wrapper {
  margin: 64px 0 64px 0;
}
.projects .project {
  background-color: #FFF;
  border: 1px solid #000;
  padding: 24px;
  text-align: initial;
  position: relative;
  margin: auto;
  max-width: 424px;
}
.projects .project h2 {
  color: #F72585;
}
.projects .project h2 i {
  position: absolute;
  right: 24px;
}
.projects .project p {
  color: #000;
}
.projects .project img {
  max-width: 320px;
  display: block;
  margin: auto;
}
.projects .project .techs {
  color: #CCC5B9;
  text-align: right;
}

.contact {
  margin-top: 128px;
}
.contact h1 {
  color: #7209B7;
}
.contact h1 span {
  text-decoration: underline;
}
.contact .button {
  width: fit-content;
  background-color: transparent;
  color: #F72585;
  margin-top: 48px !important;
}
.contact .button a {
  padding: 16px;
  border: 1px solid #F72585;
}
.contact .button:hover {
  background-color: #F72585;
  color: #FFF !important;
}
.contact .button:hover a:hover {
  background-color: #F72585 !important;
  color: #FFF !important;
  border-color: #F72585 !important;
}

footer {
  margin-top: 88px;
  border-top: 1px solid #4CC9F0;
  color: #4CC9F0;
}
footer .d-flex {
  padding: 32px 0 16px 0;
}
footer .socials {
  font-size: 24px;
}
footer .socials a {
  color: #4CC9F0 !important;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
}
footer .socials a i {
  margin: auto;
}
footer .socials a:hover {
  background-color: rgba(204, 197, 185, 0.1);
  text-decoration: none !important;
}
footer .quotes {
  position: absolute;
  right: 160px;
  color: #CCC5B9 !important;
  padding: 32px 0 64px 0;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0) rotateZ(30deg);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

.animation-element.in-view {
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.exp.in-view {
  animation: fadeInRight;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

body.in-view {
  animation: fadeIn;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.menu.in-view {
  animation: fadeInDown;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.nav.in-view {
  animation: fadeInDown;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

@media screen and (max-width: 576px) {
  .nav {
    height: 90%;
    width: 90%;
    justify-content: center;
    margin: 8px;
  }
  .nav .nav-menu li {
    margin-bottom: 32px;
  }
  .nav .nav-socials {
    display: flex;
    justify-content: center;
  }
  .nav .nav-socials li {
    margin: 16px 32px 0 32px;
  }
  h1 {
    font-size: 40px !important;
  }
  .menu {
    top: 32px;
    left: 32px;
  }
  .hero {
    padding-top: 80px;
  }
  .hero .hero-img-wrapper {
    margin-top: 48px !important;
    margin-left: auto !important;
  }
  .container {
    padding: 0 32px 0 32px;
  }
  .bg-purple {
    width: 100%;
    height: 115%;
  }
  .bg-blue {
    display: none !important;
  }
  .d-flex {
    justify-content: center;
    flex-direction: column;
  }
  .about {
    margin-top: 160px !important;
  }
  .skills.d-flex {
    flex-direction: row !important;
  }
  .experiences.m-auto {
    margin-top: 64px !important;
  }
  .projects .project {
    margin-top: 16px;
  }
  .projects .project img {
    max-width: 256px;
  }
  .contact {
    margin-top: 64px;
  }
  footer {
    width: 90% !important;
  }
  footer .quotes {
    position: static;
  }
}

/*# sourceMappingURL=styles.css.map */
